*{
    margin: 5px;
    padding: 0;
}
body::before{
    content: "";
    background: url("bg.jpg") no-repeat;
    background-size: cover;
    height: 1275px;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.6;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px;
}
.logo img{
    width: 350px;
}
.images{
    display: flex;
    flex-direction: row;
}
.images img{
    width: 450px;
    padding: 5px;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: auto;
    padding: 12px;
    border-radius: 5px;
    background: rgb(72, 213, 183);
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background: rgb(64, 153, 190);
    color: wheat;
}

.texts h2{
    padding: 8px 0px;
}
.videos{
    display: flex;
    margin: -5px;
}
iframe{
    width: 24vw;
    height: 250px;
    padding: 15px 0px;
    margin: 0px;
}

form{
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
}
form input{
    width: 25vw;
    text-align: center;
}
button{
   width: 12vh;

}